@model IEnumerable<ArticleUnpublishedListVM>

<div class="row section-wrapper">
    <!--Content Start-->
    <div class="col content-section-body">
        <div class="box">
            <!--Archive Title Start-->
            <div class="archive-title">
                <span>Articles</span>
                <h1>Unpublished</h1>
            </div>
            <!--Archive Title End-->
            <div class="post-list">
                @foreach (var article in Model)
                {
                    <!--Post Entry Start-->
                    <article class="post-blog-list">
                        <div class="blog-list-box">
                            <!--Post Image-->
                            <div class="blog-list-img">
                                <a asp-controller="Article" asp-action="UnpublishedDetails" asp-route-id="@article.Id">
                                    <figure class="fit-img" style="background-size:cover;">
                                        <div class="overlay-hover"></div>
                                        <img src="data:image/*;base64,@article.Thumbnail" alt="@article.Title" />
                                    </figure>
                                </a>
                            </div>
                            <!--Post Entry-->
                            <div class="post-entry">
                                <div class="blog-list-details">
                                    <h2>
                                        <a asp-controller="Article" asp-action="UnpublishedDetails" asp-route-id="@article.Id">@article.Title</a>
                                    </h2>
                                    <div class="post-description">
                                        @Html.Raw(article.Content.Substring(0,article.Content.Length > 230 ? 230 : article.Content.Length))<span>...</span>
                                    </div>
                                    <div class="post-meta">
                                        <ul>
                                            <li>@article.CreatedDate.ToString("dd MM yyyy")</li>
                                            <li>@article.Topics</li>
                                            <li>@article.AuthorName</li>
                                            <li>@article.ReadTime <span>dk.</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-list-share share-tooltip-animate">
                                    <i class="fa-solid fa-ellipsis-vertical" data-bs-toggle="tooltip" data-bs-title="Options"></i>
                                </div>
                                <div class="share-tooltip" style="display: none; margin-top: 0px;">
                                    <ul>
                                        <li>
                                            <a asp-controller="Article" asp-action="Publish" asp-route-id="@article.Id" data-bs-toggle="tooltip" data-bs-title="Publish">
                                                <i class="fa-solid fa-share-nodes"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Article" asp-action="UnpublishedDetails" asp-route-id="@article.Id" data-bs-toggle="tooltip" data-bs-title="Details">
                                                <i class="fa-solid fa-file-lines"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Article" asp-action="Update" asp-route-id="@article.Id" data-bs-toggle="tooltip" data-bs-title="Update">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Article" asp-action="Delete" asp-route-id="@article.Id" data-bs-toggle="tooltip" data-bs-title="Delete">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--Post Entry End-->
                }
            </div>
        </div>
    </div>
    <!--Content End-->
</div>

<div class="layout-divider"></div>

@section Scripts{
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
}